footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid var(--main-green-color);
  padding-top: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;

}

@media (max-width: 1000px) {
  footer {
      display: none;
  }
}


small {
  font-size: 10px;
  text-align: center;
}

#footerNav {
  width: 100%;
  text-align: center;
}

#footerNav ul li {
  font-family: Verdana, Geneva, sans-serif;
  font-size: .85em;
  color: whitesmoke;
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid var(--main-brown-color);
}

#footerNav ul li:last-child {
  border-right: none;
}
