<section class="error-message" *ngIf="errorMessage">
  {{ errorMessage | json }}
</section>

<p-table [value]="groups" styleClass="p-datatable-striped" responsiveLayout="scroll" *ngIf="!errorMessage">
  <ng-template pTemplate="header">
    <tr>
      <th>Group</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-event>
    <tr>
      <td>{{event.GroupName}}</td>
      <td style="text-align: center">
        <button pButton type="button" label="Groups"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
