<div class="flex">
  <div class="flex-1 flex align-items-center justify-content-center">
    <a routerLink=""><img [src]="logo" [alt]="logoAlt" width="200px" height="200px" /></a>
  </div>
  <div class="flex-1 flex align-items-center justify-content-center">
    <button pButton type="button" label="Back To Events" class="p-button-secondary" (click)="backToEvents()"></button>
  </div>
</div>

<h1>Groups for Event: {{eventName}}</h1>

<section class="error-message" *ngIf="errorMessage">
  {{ errorMessage | json }}
</section>

<p-table [value]="groups" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
  *ngIf="!errorMessage && !showDetails">
  <ng-template pTemplate="caption">
    <div class="card">
      <div class="flex justify-content-end flex-wrap gap-5">
        <div class="flex flex align-items-center justify-content-center">
          <button pButton type="button" label="View All" (click)="viewAll()"></button>
        </div>
        <div class="flex flex align-items-center justify-content-center">
          <div class="p-inputgroup">
            <button type="button" pButton pRipple label="Search" (click)="search()"></button>
            <input type="text" pInputText placeholder="Keyword" #searchInput>
          </div>
        </div>
        <div class="flex flex align-items-center justify-content-center" *ngIf="currentUser.isAdmin">
          <button pButton type="button" label="Add Group" (click)="goToAddMode()"></button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center">Group Name</th>
      <th style="text-align: center">Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-group>
    <tr>
      <td>{{group.GroupName}}</td>
      <td style="text-align: center">
        <div class="card">
          <div class="flex justify-content-center flex-wrap gap-2">
            <div class="flex flex align-items-center justify-content-center">
              <button pButton type="button" label="Details" (click)="goToDetails(group.GroupId)"></button>
            </div>
            <div class="flex flex align-items-center justify-content-center" *ngIf="currentUser.isAdmin">
              <button pButton type="button" label="Edit" (click)="goToEditMode(group.GroupId)" icon="pi pi-user-edit" class="p-button-help"></button>
            </div>
            <div class="flex flex align-items-center justify-content-center" *ngIf="currentUser.isAdmin">
              <button (click)="confirmDelete(group.GroupId, group.GroupName)" pButton icon="pi pi-trash"
                label="Delete" class="p-button-danger"></button>
            </div>
            <div class="flex flex align-items-center justify-content-center">
              <button pButton type="button" label="View Golfers" (click)="goToGolfers(group.GroupId)"></button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>


<section *ngIf="showDetails">
  <div *ngIf="!isEditMode && !isAddMode">
    <p-panel>
      <ng-template pTemplate="header">
        <div class="flex justify-content-between flex-wrap" style="width:100%">
          <div class="flex align-items-center justify-content-center">
            <h2>Details for {{group.GroupName}}</h2>
          </div>
          <div class="flex align-items-center justify-content-center">
            <button pButton type="button" label="Back" (click)="backToGroups()"></button>
          </div>
        </div>
      </ng-template>
      <h3>Group Name:</h3> {{group.GroupName}}
      <h3>Organization Name</h3> {{group.OrganizationName}}
      <h3>Spronsor Name</h3> {{group.SponsorName}}
      <h3>Sponsor Phone</h3> {{group.SponsorPhone}}
      <h3>Sponsor Email</h3> {{group.SponsorEmail}}
      <h3>MaxGroup Size</h3> {{group.MaxGroupSize}}
      <br /><br /><br />

      <p-table [value]="group.Members" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          Golfers
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-golfer>
          <tr>
            <td>{{golfer.MemberName}}</td>
            <td>{{golfer.MemberEmail}}</td>
            <td>{{golfer.MemberPhone}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>


  <p-panel *ngIf="isEditMode || isAddMode">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap" style="width:100%">
        <div class="flex align-items-center justify-content-center">
          <h2>{{isEditMode ? 'Edit Existing Group' : 'Add New Group'}}</h2>
        </div>
        <div class="flex align-items-center justify-content-center">
          <button pButton type="button" label="Back" (click)="backToGroups()"></button>
        </div>
      </div>
    </ng-template>
    <form [formGroup]="groupForm" novalidate>
      <div class="field">
        <label for="GroupName" class="block">Group Name</label>
        <input id="GroupName" type="text" formControlName="GroupName"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('GroupName')}">
        <small class="form-error block"
          *ngIf="!groupForm.controls['GroupName'].valid && groupForm.controls['GroupName'].touched">Please enter a
          valid name.</small>
      </div>
      <div class="field">
        <label for="SponsorName" class="block">Sponsor Name</label>
        <input id="SponsorName" type="text" formControlName="SponsorName"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('SponsorName')}">
        <small class="form-error block"
          *ngIf="!groupForm.controls['SponsorName'].valid && groupForm.controls['SponsorName'].touched">Please enter a
          valid sponsor name.</small>
      </div>
      <div class="field">
        <label for="SponsorPhone" class="block">Sponsor Phone</label>
        <input id="SponsorPhone" type="tel" formControlName="SponsorPhone"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('SponsorPhone')}">
        <small class="form-error block"
          *ngIf="!groupForm.controls['SponsorPhone'].valid && groupForm.controls['SponsorPhone'].touched">Please enter a
          valid sponsor phone number.</small>
      </div>
      <div class="field">
        <label for="SponsorEmail" class="block">Sponsor Email</label>
        <input id="SponsorEmail" type="email" formControlName="SponsorEmail"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('SponsorEmail')}">
        <small class="form-error block"
          *ngIf="!groupForm.controls['SponsorEmail'].valid && groupForm.controls['SponsorEmail'].touched">Please enter a
          valid sponsor email.</small>
      </div>
      <div class="field">
        <label for="MaxGroupSize" class="block">Max Group Size</label>
        <input id="MaxGroupSize" type="number" formControlName="MaxGroupSize"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('MaxGroupSize')}">
        <small class="form-error block"
          *ngIf="!groupForm.controls['MaxGroupSize'].valid && groupForm.controls['MaxGroupSize'].touched">Please enter a
          valid max group size.</small>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center flex-wrap gap-2">
        <div class="flex flex align-items-center justify-content-center">
          <button pButton type="button" label="Back" (click)="backToGroups()"></button>
        </div>
        <div class="flex flex align-items-center justify-content-center">
          <button pButton type="button" label="Save" (click)="saveEditForm()"
            *ngIf="isEditMode && groupForm.status === 'VALID'"></button>
          <button pButton type="button" label="Add" (click)="saveAddForm()"
            *ngIf="isAddMode && groupForm.status === 'VALID'"></button>
        </div>
      </div>
    </ng-template>
  </p-panel>
</section>
