#description {
  display: flex;
  flex-direction: row;
}

figcaption {
  font-size: 10px;
  text-align: center;
  color: var(--main-brown-color);
}

@media (max-width: 1000px) {
  #description {
      display: none;
  }
}
