<header class="header-footer">
  <nav>
      <button type="button" class="btn" onclick="window.location.href='https://www.w3docs.com';">Home</button>
      <button type="button" class="btn" onclick="window.location.href='https://www.w3docs.com';">Home</button>
      <button type="button" class="btn" onclick="window.location.href='https://www.w3docs.com';">Home</button>
  </nav>
  <h4 id="headerFlex2">Fox Creek Golf Course</h4>
  <img id="headerFlex3" width="50px" height="50px" alt="Member Icon">
</header>
