<section class="error-message" *ngIf="errorMessage">
  {{ errorMessage | json }}
</section>


<div id="golferWrapper" *ngIf="!isLoading && !errorMessage">
  <section id="groupSection">
    <div class="flex justify-content-between flex-wrap" style="width:100%">
      <div class="flex align-items-center justify-content-center">
        <h1>Golfer's for Group: {{groupName}}</h1>
      </div>
      <div class="flex align-items-center justify-content-center">
        <button pButton type="button" label="Back To Groups" class="p-button-secondary"
          (click)="backToGroups()"></button>
      </div>
    </div>
  </section>

  <p-table [value]="golfers" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
    *ngIf="!isEditMode && !isAddMode">
    <ng-template pTemplate="caption">
      <div class="card">
        <div class="flex justify-content-end flex-wrap gap-5">
          <div class="flex flex align-items-center justify-content-center">
            <button pButton type="button" label="Add Golfer" (click)="goToAddMode()"></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center">Golfer's Name</th>
        <th style="text-align: center">Golfer's Email</th>
        <th style="text-align: center">Golfer's Phone Number</th>
        <th style="text-align: center">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-golfer>
      <tr>
        <td>{{golfer.MemberName}}</td>
        <td>{{golfer.MemberEmail}}</td>
        <td>{{golfer.MemberPhone}}</td>
        <td style="text-align: center">
          <div class="card">
            <div class="flex justify-content-center flex-wrap gap-2">
              <div class="flex flex align-items-center justify-content-center">
                <button pButton type="button" label="Edit" (click)="goToEditMode(golfer.MemberId)"></button>
              </div>
              <div class="flex flex align-items-center justify-content-center">
                <button pButton type="button" label="Delete" (click)="deleteGolfer(golfer.MemberId)"></button>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>


  <p-panel *ngIf="isEditMode || isAddMode">
    <ng-template pTemplate="header">
      <div class="flex justify-content-between flex-wrap" style="width:100%">
        <div class="flex align-items-center justify-content-center">
          <h2>{{isEditMode ? 'Edit Existing Golfer' : 'Add New Golfer'}}</h2>
        </div>
        <div class="flex align-items-center justify-content-center">
          <button pButton type="button" label="Back" (click)="backToGolfers()"></button>
        </div>
      </div>
    </ng-template>
    <form [formGroup]="golferForm" novalidate>
      <div class="field">
        <label for="MemberName" class="block">Name</label>
        <input id="MemberName" type="text" formControlName="MemberName"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('MemberName')}">
        <small class="form-error block"
          *ngIf="!golferForm.controls['MemberName'].valid && golferForm.controls['MemberName'].touched">Please enter a
          valid name.</small>
      </div>
      <div class="field">
        <label for="MemberEmail" class="block">Email</label>
        <input id="MemberEmail" type="email" formControlName="MemberEmail"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('MemberEmail')}">
        <small class="form-error block"
          *ngIf="!golferForm.controls['MemberEmail'].valid && golferForm.controls['MemberEmail'].touched">Please enter a
          valid email address.</small>
      </div>
      <div class="field">
        <label for="MemberPhone" class="block">Phone Number</label>
        <input id="MemberPhone" type="tel" formControlName="MemberPhone"
          [ngClass]="{'form-input' : true, 'form-input-error' : isInputError('MemberPhone')}">
        <small class="form-error block"
          *ngIf="!golferForm.controls['MemberPhone'].valid && golferForm.controls['MemberPhone'].touched">Please enter a
          valid phone number.</small>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center flex-wrap gap-2">
        <div class="flex flex align-items-center justify-content-center">
          <button pButton type="button" label="Back" (click)="backToGolfers()"></button>
        </div>
        <div class="flex flex align-items-center justify-content-center">
          <button pButton type="button" label="Save" (click)="saveForm(false)"
            *ngIf="isEditMode && golferForm.status === 'VALID'"></button>
          <button pButton type="button" label="Add" (click)="saveForm(true)"
            *ngIf="isAddMode && golferForm.status === 'VALID'"></button>
        </div>
      </div>
    </ng-template>
  </p-panel>


</div>
